@charset "UTF-8";
p { color: black; font-family: Verdana; }
/*Cambio tamaño*/
* {
	size: 14 px;
}
/*Color de etiquetas*/
h1 {
	color: #231858;
}

/*Color de fondo*/
body {background-color: #867DB0;}

/*Agregar un link y cambiar los colores con Pseudo-classes*/
select > option {
	background: #11073B;
	color: #FFFDAA;
}

a:hover {
	background: #11073B;
	color: #FFFDAA;
}